.icon-c {
    top: 35px;
    left: 55px;
    position: absolute;
}
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    height: 288px;
    width: 328px;
    margin: 8px;
    padding-left: 54px;
    gap: 12px;
}

.card-icon {
    width: 60px;
    height: 60px;
    margin-right: 130px;
}

.card-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 50px;
    
}

.card-body {
    font-size: 1em;
    color: #333;
    width: 200px;
}
