.container-c-contact {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container-contact {
    max-width: 600px;
    max-height: 300px;
    margin: 26px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-contact h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.container-contact p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container-contact ul {
    list-style-type: none;
    padding: 0;
}

.container-contact ul li {
    margin-bottom: 10px;
}

.container-contact strong {
    font-weight: bold;
    margin-right: 5px;
}

.container-contact a {
    color: #007bff;
    text-decoration: none;
}

.container-contact a:hover {
    text-decoration: underline;
}
